<div class="card mb-3">
    <div class="bg-holder d-none d-lg-block bg-card"
        style="background-image:url(../../assets/admin/img/icons/spot-illustrations/corner-4.png);"></div>
    <!--/.bg-holder-->
    <div class="card-body position-relative">
        <div class="row">
            <div class="col-lg-8">
                <h3>Manage FAQs</h3>
                <p class="mb-0">Below you'll manage answers to the questions we get asked the most.</p>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header border-bottom">
        <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <select class="form-select" aria-label="Default select example">
                    <option selected="">Select Bot</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-auto align-self-center">
                <button class="btn btn-primary btn-sm mt-3" (click)="openModal()">
                    Create FAQ
                </button>
            </div>
        </div>
    </div>
    
    <div class="card-body" *ngIf="faqs.length">
        <accordion [isAnimated]="true" class="faq-accordion-box border rounded">
            <accordion-group>
                <div accordion-heading>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    Open By Default
                </div>
                <div class="pl-3">Open By Default1</div>
            </accordion-group>
            <accordion-group>
                <div accordion-heading>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    Open By Default
                </div>
                <div class="pl-3">Open By Default1</div>
            </accordion-group>
            <accordion-group>
                <div accordion-heading>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    Open By Default
                </div>
                <div class="pl-3">Open By Default1</div>
            </accordion-group>
        </accordion>
    </div>

    <div class="card-body p-4 p-sm-5" *ngIf="!faqs.length">
        <div class="text-center"><img class="d-block mx-auto mb-4"
                src="../../../assets/admin/img/icons/spot-illustrations/45.png" alt="shield" width="100" />
            <h4>Create FAQ</h4>
            <p>You do not have any FAQ in your account or selected bot. Please create new FAQ here.</p>
            <button class="btn btn-primary btn-sm mt-3" (click)="openModal()">
                Create FAQ
            </button>
        </div>
    </div>

    
</div>
<ng-template #faqModel>
    <admin-add-edit-faq-model [modalRef]="modalRef" [editingFaq]="editingFaq" (onSuccess)="onSuccess($event)">
    </admin-add-edit-faq-model>
</ng-template>