<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0" data-anchor="data-anchor">Get Embed Code</h5>
    </div>
    <div class="card-body bg-light">
        <h6>For Gulp based workflow</h6>
        <p>Edit the <code>src/js/config.js</code> file.</p>
        <h6>If you are not using Gulp based workflow</h6>
        <p>Edit the <code>public/assets/js/config.js</code> file.</p>
        <h6 class="fs-0">Configuration object:</h6>
        <pre class="language-js">
        <code class="lang-js">
        const CONFIG = 
        isNavbarVerticalCollapsed: false,
        theme: "light",
        isRTL: false,
        isFluid: false,
        navbarStyle: "transparent",
        navbarPosition: "vertical",
        ;
        </code>
        </pre>
    </div>
</div>