<div class="avatar avatar-2xl border border-3 border-light rounded-circle" 
    *ngFor="let icon of systemHeaderIcons()"
    [ngClass]="{'opacity-25' : iconActive!=icon}"
    (click)="afterSelect(icon)">
    <img class="rounded-circle" [src]="icon" alt="">
</div>
<div class="avatar avatar-2xl border border-3 border-light rounded-circle p-2 bg-secondary" 
    *ngFor="let icon of systemLauncherIcons()" 
    [ngClass]="{'opacity-25' : iconActive!=icon}"
    (click)="afterSelect(icon)">
    <img class="rounded-circle" [src]="icon" alt="">
</div>